build/
.vscode/
.idea/
managed_components/
Doc/
PCB/lib/
PCB/caelum_v2/caelum_v2-backups
PCB/caelum_v2/~*
PCB/caelum_v2/#*
PCB/caelum_v2/_*
PCB/caelum_v2/*cache
PCB/caelum_v2/~caelum_v2.kicad_sch.lck
